body {
    background-image: linear-gradient(to left, rgb(210,105,30), rgb(245,222,179));
  background-size: 100%;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  align-items: center; /* Centraliza horizontalmente o conteúdo */
  min-height: 100vh; /* Torna a altura do corpo igual à altura da viewport */
  margin: 0;
}

table {
  width: 60%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

table th {
  text-align: center;
}

table td {
  text-align: center;
}

table th {
  background-color: #f2f2f2;
}
.custom-button {
    background-image: url('images/excluir.png'); /* URL da sua imagem */
    background-size: 80px 80px; /* Tamanho da imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    width: 80px; /* Largura do botão */
    height: 80px; /* Altura do botão */
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Transforma o cursor em uma mão ao passar sobre o botão */
}
