.btnOpenModal {
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
  }
  
 
  
  .modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(71, 19, 19);
    border-radius: 10px;
    width: 50%;
  }

  .texto{
	 margin-left: 250px;
      color: aliceblue;
      size: 15px;
      font-style: oblique;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      margin-top: 19px;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  span {
    margin: 10px auto;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .btnOK {
   background-color: blue!important;
  }
  
  .btnClose {
    background-color: brown!important;
   }
  
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    span, .btns button {
      font-size: smaller;
    }
   }